@inherits FileBase


<li class="NavNone dropdown border-right border-dark">
    <button class="btn shadow-none dropdown-toggle" id="saveas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-share-boxed pr-1"></span>Export As
    </button>

    <div class="dropdown-menu" aria-labelledby="saveas">
        <a class="dropdown-item" @onclick="async () => await SaveAsChanged.InvokeAsync(SaveAs.Page)">screen view SVG</a>
        <a class="dropdown-item" @onclick="async () => await SaveAsChanged.InvokeAsync(SaveAs.Full)">full view SVG</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" @onclick="SaveGraphItFile">Graph File</a>
    </div>
</li>
<li class="NavNone p-2 border-right border-dark" @onclick="(() => OpenPreference = true)"><span class="pr-1 oi oi-envelope-open"></span>Open</li>
<li class="NavNone p-2" @onclick="(() => NewGraphCheck = true)"><span class="pr-1 oi oi-reload"></span>New</li>
@if (ErrorOpening)
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <div class="text-center">
                    <div class="row m-3 border-bottom border-dark">
                        Oops, I couldn't read the file you chose
                    </div>
                    <button class="btn btn-outline-dark shadow-none btn-sm" @onclick="(() => ErrorOpening = false)">
                        OK
                    </button>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
@if (OpenPreference)
{
<SfDialog Width="300px" IsModal="true">
    <DialogTemplates>
        <Content>
            <div class="text-center">
                <div class="row m-3 border-bottom border-dark">
                    overwrite the current graph? or open it with the current graph?
                </div>
                <div class="d-flex align-items-baseline">
                    <label for="FileUpload2" class="btn btn-outline-success shadow-none btn-sm pointer">
                        Together
                    </label>
                    <InputFile id="FileUpload2" OnChange="(e) => OpenGraphItFile(e, false)" accept=".phanatic" />
                    <label for="FileUpload" class="btn btn-outline-danger shadow-none btn-sm pointer">
                        Overwrite
                    </label>
                    <InputFile id="FileUpload" OnChange="(e) => OpenGraphItFile(e, true)" accept=".phanatic" />
                    <button class="ml-auto btn btn-outline-dark shadow-none btn-sm" @onclick="(() => OpenPreference = false)">
                        Cancel
                    </button>
                </div>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
}
@if (NewGraphCheck)
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <div class="text-center">
                    <div class="row m-3 border-bottom border-dark">
                        Are you sure you want to restart?
                    </div>
                    <div class="d-flex align-items-baseline">
                        <button class="btn btn-outline-success shadow-none btn-sm" @onclick="SaveGraphFile">Save</button>
                        <button class="btn btn-outline-danger shadow-none btn-sm" @onclick="() => UriHelper.NavigateTo(UriHelper.Uri, forceLoad: true)">New</button>
                        <button class="ml-auto btn btn-outline-dark shadow-none btn-sm" @onclick="(() => NewGraphCheck = false)">Cancel</button>
                    </div>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
