@namespace GraphIt.wasm.Pages.Design
@inherits DesignBase

<li class="d-flex flex-row px-2 border-dark border-right">
    <select class="form-control shadow-none scrollable-menu p-0" @onchange="(args) => SelectDesign = (SelectDesign) Enum.Parse(typeof(SelectDesign), args.Value.ToString())">
        @foreach (SelectDesign sd in Enum.GetValues(typeof(SelectDesign)))
        {
            if (sd == SelectDesign.SelectedNode && !ActiveGraph.Nodes.Any())
            {
                continue;
            }
            if (sd == SelectDesign.SelectedEdge && !ActiveGraph.Edges.Any())
            {
                continue;
            }
            if (sd == SelectDesign)
            {
                <option value="@sd" selected>@GetText(sd)</option>
            }
            else
            {
                <option value="@sd">@GetText(sd)</option>
            }
        }
    </select>
</li>

@switch (SelectDesign)
{
    case SelectDesign.DefaultNode:
        <DefaultNode @bind-DefaultOptions="Options.Default" Relabel="Relabel"></DefaultNode>
        break;
    case SelectDesign.DefaultEdge:
        <DefaultEdge @bind-DefaultOptions="Options.Default"></DefaultEdge>
        break;
    case SelectDesign.AlgorithmNode:
        <DefaultNode @bind-DefaultOptions="Options.Algorithm"></DefaultNode>
        break;
    case SelectDesign.AlgorithmEdge:
        <DefaultEdge @bind-DefaultOptions="Options.Algorithm"></DefaultEdge>
        break;
    case SelectDesign.SelectedNode:
        <SelectedNode ActiveNodes="ActiveGraph.Nodes" ActiveNodesChanged="GoUpdateActiveNodes" DeleteActiveNodes="GoDeleteActiveNodes"></SelectedNode>
        break;
    case SelectDesign.SelectedEdge:
        <SelectedEdge ActiveEdges="ActiveGraph.Edges" Weighted="Weighted" ActiveEdgesChanged="GoUpdateActiveEdges" DeleteActiveEdges="GoDeleteActiveEdges"></SelectedEdge>
        break;
}