@inherits AdjMatrixBase

<SfDialog Target="#target" Width="350px" AllowDragging="true">
    <DialogTemplates>
        <Header> Adjacency Matrix </Header>
        <Content>
            @if (Nodes == null || Edges == null)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Node ID</th>
                                @foreach (Node node in Nodes)
                                {
                                    <th scope="col">@node.NodeId</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Node tail in Nodes)
                            {
                            <tr>
                                <th scope="row">@tail.NodeId</th>
                                @foreach (Node head in Nodes)
                                {
                                    @if (Adjacent(tail, head))
                                    {
                                        <td>
                                            <SfNumericTextBox TValue="int?" Value="1" Min=0 Max=1 ShowSpinButton=false CssClass="shortInput"
                                                              Placeholder="Weight" @onchange="((e) => RemoveEdge(e, tail, head))"></SfNumericTextBox>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <SfNumericTextBox TValue="int?" Value="0" Min=0 Max=1 ShowSpinButton=false CssClass="shortInput"
                                                              Placeholder="Weight" @onchange="((e) => AddEdge(e, tail, head))"></SfNumericTextBox>
                                        </td>
                                    }
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Close" OnClick="@CloseMatrix"/>
    </DialogButtons>
</SfDialog>
