@inherits FileBase


<li class="NavNone dropdown border-right border-dark">
    <button class="btn shadow-none dropdown-toggle" id="saveas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="oi oi-share-boxed pr-1"></span>Export As</button>

    <div class="dropdown-menu" aria-labelledby="saveas">
        <a class="dropdown-item" @onclick="() => SaveSVGFile(true)">screen view SVG</a>
        <a class="dropdown-item" @onclick="() => SaveSVGFile(false)">full view SVG</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" @onclick="SaveGraphItFile">Graph File</a>
    </div>
</li>
<li class="NavNone p-2 border-right border-dark" @onclick="(() => OpenPreference = true)"><span class="pr-1 oi oi-envelope-open"></span>Open</li>
<li class="NavNone p-2" @onclick="(() => NewGraphCheck = true)"><span class="pr-1 oi oi-reload"</span>New</li>
@if (ErrorOpening)
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <p class="text-danger text-center">Oops, I couldn't read the file you chose</p>
                <SfButton CssClass="e-success" @onclick="(() => ErrorOpening = false)">OK</SfButton>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
@if (NewGraphCheck)
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <p class="text-danger text-center">Are you sure you want to restart? Make sure you save your progress</p>
                <SfButton CssClass="e-success" @onclick="SaveGraphItFile">Save Graph</SfButton>
                <SfButton CssClass="e-danger" @onclick="() => UriHelper.NavigateTo(UriHelper.Uri, forceLoad: true)">New Graph</SfButton>
                <SfButton CssClass="e-warning" @onclick="(() => NewGraphCheck = false)">Cancel</SfButton>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
@if (OpenPreference)
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <p class="text-info text-center">Would you like to overwrite the current graph? or open it with the current graph?</p>
                <label for="FileUpload" class="btn shadow-none btn-danger">
                    Overwrite
                </label>
                <InputFile id="FileUpload" OnChange="(e) => OpenGraphItFile(e, true)" accept=".graphit" />
                <label for="FileUpload2" class="btn shadow-none btn-info">
                    Together
                </label>
                <InputFile id="FileUpload2" OnChange="(e) => OpenGraphItFile(e, false)" accept=".graphit" />
            </Content>
        </DialogTemplates>
    </SfDialog>
}
