@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0 align-items-center">
    <span class="px-2">
        Nodes: @NodeCount
    </span>
    <span class="px-2">
        Edges: @EdgeCount
    </span>
    <span class="px-2">
        Mode: @GraphMode
    </span>
    <span class="px-2 btn-group" role="group">
        <button id="" type="button" class="btn NavNone shadow-none" @onclick="@(() => OnScaleClick(0.1))">-</button>
        <span>Zoom</span>
        @if (StopZoomIn)
        {
            <button type="button" class="btn btn-secondary" disabled>+</button>
        }
        else
        {
            <button type="button" class="btn NavNone shadow-none" @onclick="@(() => OnScaleClick(-0.1))">-</button>
        }
    </span>
</div>
