@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0">
    <div class="px-2">
        Nodes: @NodeCount
    </div>
    <div class="px-2">
        Edges: @EdgeCount
    </div>
    <div class="px-2">
        Mode: @GraphMode
    </div>
    <div class="px-2">
        @($"{(int) (100*Scale)}%")
        <SfButton CssClass="e-round" OnClick="@(() => OnScaleClick(0.1))" IsPrimary="true"><i class="fas fa-search-plus"></i></SfButton>
        <SfButton CssClass="e-round" OnClick="@(() => OnScaleClick(-0.1))" IsPrimary="true"><i class="fas fa-search-minus"></i></SfButton>
        <i class="fas fa-search-plus"></i>
    </div>
</div>
