@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0 align-items-center">
    <span class="px-2">
        Nodes: @Nodes.Count
    </span>
    <span class="px-2">
        Edges: @Edges.Count
    </span>
    <span class="px-2">
        Mode: @GraphMode
    </span>
    @if (DefaultOptions.MultiGraph)
    {
        <span class="px-2 text-danger">
            @("MultiGraph")
        </span>
    }
</div>
