@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0">
    <div class="px-2">
        Nodes: @NodeCount
    </div>
    <div class="px-2">
        Edges: @EdgeCount
    </div>
    <div class="px-2">
        Mode: @GraphMode
    </div>
</div>
