<div class="footer d-flex flex-row py-0 my-0">
    <div class="px-2">
        Nodes: 7
    </div>
    <div class="px-2">
        Edges: 7
    </div>
    <div class="px-2">
        Mode: Default
    </div>
    <div class="mr-auto px-2">
        Zoom slider here
    </div>
</div>
