@inherits HomeBase


<li class="NavNone dropdown border-right border-dark">
    <button class="btn shadow-none dropdown-toggle" id="repre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Representations
    </button>
    <div class="dropdown-menu" aria-labelledby="repre">
        <a class="dropdown-item" @onclick="OnMatrixClick">Adjacency Matrix</a>
        <a class="dropdown-item" @onclick="OnWeightMatrixClick">Weighted Matrix</a>
    </div>
</li>
<li class="NavNone dropdown border-right border-dark">
    <button class="btn shadow-none dropdown-toggle" id="algos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Algorithms
    </button>
    <div class="dropdown-menu" aria-labelledby="algos">
        <a class="dropdown-item" @onclick="() => OnAlgoChanged(Algorithm.BFS)">BFS</a>
        <a class="dropdown-item" @onclick="() => OnAlgoChanged(Algorithm.DFS)">DFS</a>
    </div>
</li>
@if (StartAlgorithm.Algorithm != Algorithm.None)
{
    @if (StartAlgorithm.StartNode == null)
    {
        <li class="navbar-text">Choose Start Node</li>
    }
    else if (RequiresEnd.Contains(StartAlgorithm.Algorithm) && StartAlgorithm.EndNode == null)
    {
        <li>Choose End Node</li>
    }
    else
    {
        <li><button class="btn"><span class="oi oi-x"></span></button></li>
        <li><button class="btn"><span class="oi oi-media-stop"></span></button></li>
        <li><button class="btn"><span class="oi oi-media-skip-forward"></span></button></li>
        <li><button class="btn"><span class="oi oi-media-step-forward"></span></button></li>
    }
}
<li class="NavNone p-2" @onclick="OnSelectAll">Select All</li>