@page "/"
@inherits IndexBase

<NavBar OnChoice="UpdateChoice"></NavBar>

@if (Choice != null)
{
    switch (Choice)
    {
        case NavChoice.File:
            <nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
                <div class="collapse navbar-collapse mx-0" id="navbarNav">
                    <ul class="navbar-nav mx-0">
                        <li class="nav-item">
                            <button type="button" class="btn">Save</button>
                        </li>
                    </ul>
                </div>
            </nav>
            break;
        case NavChoice.Home:
            <nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
                <div class="collapse navbar-collapse mx-0" id="navbarNav">
                    <ul class="navbar-nav mx-0">
                        <li class="nav-item">
                            <button type="button" class="btn">Save</button>
                        </li>
                    </ul>
                </div>
            </nav>
            break;
        case NavChoice.Insert:
            <Insert @bind-InsertNode="InsertNode"></Insert>
            break;
        case NavChoice.Design:
            <Design @bind-ActiveNode="ActiveNode" @bind-DefaultDesign="DefaultDesign"></Design>
            break;
        case NavChoice.About:
            <nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
                <div class="collapse navbar-collapse mx-0" id="navbarNav">
                    <ul class="navbar-nav mx-0">
                        <li class="nav-item">
                            <button type="button" class="btn">Save</button>
                        </li>
                    </ul>
                </div>
            </nav>
            break;
    }
}

<Canvas @bind-ActiveNode="ActiveNode" ChangeMenu="UpdateChoice" DefaultDesign="DefaultDesign" InsertNode="InsertNode"></Canvas>
@if (InitialModal)
{
    <InitialModal GraphType="GraphType" OnClose="OnInitialClose"></InitialModal>
}