@page "/"
@inherits IndexBase

@if (InitialModal)
{
    <InitialModal DefaultOptions="DefaultOptions" OnClose="OnInitialClose"></InitialModal>
}


<NavBar @bind-Choice="Choice"></NavBar>

@if (Choice != null)
{
    switch (Choice)
    {
        case NavChoice.Home:
            <Home @bind-Rep="Rep" DefaultOptions="DefaultOptions"></Home>
            break;
        case NavChoice.Insert:
            <Insert @bind-GraphMode="GraphMode" DefaultOptions="DefaultOptions"></Insert>
            break;
        case NavChoice.Node:
            <NodeOptions ActiveNodes="ActiveNodes" ActiveNodesChanged="ActiveNodesChanged" @bind-DefaultOptions="DefaultOptions"></NodeOptions>
            break;
        case NavChoice.Edge:
            <EdgeOptions ActiveEdges="ActiveEdges" ActiveEdgesChanged="ActiveEdgesChanged" @bind-DefaultOptions="DefaultOptions"></EdgeOptions>
            break;
        case NavChoice.Algorithms:
            <nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
                <div class="collapse navbar-collapse mx-0" id="navbarNav">
                    <ul class="navbar-nav mx-0">
                        <li class="nav-item">
                            <button type="button" class="btn">Save</button>
                        </li>
                    </ul>
                </div>
            </nav>
            break;
        case NavChoice.About:
            <nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
                <div class="collapse navbar-collapse mx-0" id="navbarNav">
                    <ul class="navbar-nav mx-0">
                        <li class="nav-item">
                            <button type="button" class="btn">Save</button>
                        </li>
                    </ul>
                </div>
            </nav>
            break;
    }
}
@if (Rep == Representation.Matrix || Rep == Representation.WeightedMatrix)
{
    <AdjMatrix @bind-Rep="Rep" DefaultOptions="DefaultOptions" UpdateCanvas="UpdateCanvas"></AdjMatrix>
}
<Canvas ActiveNodes="ActiveNodes" ActiveNodesChanged="ActiveNodesChanged"
        ActiveEdges="ActiveEdges" ActiveEdgesChanged="ActiveEdgesChanged"
        ChangeMenu="UpdateChoice" DefaultOptions="DefaultOptions" GraphMode="GraphMode" @bind-Scale="Scale"></Canvas>
<Footer GraphMode="GraphMode" @bind-Scale="Scale" DefaultOptions="DefaultOptions"></Footer>
