@page "/"
@inherits IndexBase
@if (Browser == null)
{
    SVGControl.Width = 0;
    SVGControl.Height = 0;
}
else
{
    SVGControl.Width = Browser.Width * SVGControl.Scale;
    SVGControl.Height = Browser.Height * SVGControl.Scale;
}

@if (InitialModal)
{
    <InitialModal DefaultOptions="DefaultOptions" OnClose="OnInitialClose"></InitialModal>
}


<NavBar @bind-Choice="Choice"></NavBar>


@if (Choice != null)
{
<nav class="navbar sticky-top navbar-expand navbar-custom p-0">
    <ul class="navbar-nav mr-auto m-0">
        @switch (Choice)
        {
            case NavChoice.File:
                <File DefaultOptions="DefaultOptions" SVGControl="SVGControl" @bind-Nodes="Nodes" @bind-Edges="Edges"></File>
                break;
            case NavChoice.Home:
                <Home @bind-Rep="Rep" @bind-StartAlgorithm="StartAlgorithm" @bind-ActiveNodes="ActiveNodes" @bind-ActiveEdges="ActiveEdges" Nodes="Nodes" Edges="Edges"></Home>
                break;
            case NavChoice.Insert:
                <Insert @bind-GraphMode="GraphMode" DefaultOptions="DefaultOptions" @bind-Nodes="Nodes" @bind-Edges="Edges" SVGControl="SVGControl"></Insert>
                break;
            case NavChoice.View:
                <View @bind-SVGControl="SVGControl" @bind-ActiveNodes="ActiveNodes" Nodes="Nodes" Browser="Browser"></View>
                break;
            case NavChoice.Node:
                <NodeOptions @bind-ActiveNodes="ActiveNodes" @bind-DefaultOptions="DefaultOptions" @bind-Nodes="Nodes"></NodeOptions>
                break;
            case NavChoice.Edge:
                <EdgeOptions @bind-ActiveEdges="ActiveEdges" @bind-DefaultOptions="DefaultOptions"></EdgeOptions>
                break;
            case NavChoice.About:
                break;
        }
    </ul>
    <ul class="navbar-nav m-0">
        <li class="NavNone p-2" @onclick="(() => Choice = null)"><span class="oi oi-x"></span></li>
    </ul>
</nav>
}
@if (Rep == Representation.Matrix || Rep == Representation.WeightedMatrix)
{
    <AdjMatrix @bind-Rep="Rep" DefaultOptions="DefaultOptions" @bind-Nodes="Nodes" @bind-Edges="Edges" SVGControl="SVGControl"></AdjMatrix>
}
<Canvas @bind-ActiveNodes="ActiveNodes" @bind-Nodes="Nodes" @bind-ActiveEdges="ActiveEdges" @bind-Edges="Edges"
        ChangeMenu="UpdateChoice" DefaultOptions="DefaultOptions" GraphMode="GraphMode" @bind-SVGControl="SVGControl" @bind-StartAlgorithm="StartAlgorithm"></Canvas>
<Footer GraphMode="GraphMode" @bind-DefaultOptions="DefaultOptions" Nodes="Nodes" Edges="Edges"></Footer>
