@page "/"
@inherits IndexBase
@if (Browser == null)
{
    SVGControl.Width = 0;
    SVGControl.Height = 0;
}
else
{
    SVGControl.Width = Browser.Width * SVGControl.Scale;
    SVGControl.Height = Browser.Height * SVGControl.Scale;
}
<NavBar @bind-Choice="Choice"></NavBar>


@if (Choice != null)
{
<nav class="navbar sticky-top navbar-expand navbar-custom p-0">
    <ul class="navbar-nav mr-auto m-0">
        @switch (Choice)
        {
            case NavChoice.File:
                <File @bind-DefaultOptions="DefaultOptions" SVGControl="SVGControl" @bind-Nodes="Nodes" @bind-Edges="Edges"></File>
                break;
            case NavChoice.Home:
                <Home @bind-Rep="Rep" @bind-StartAlgorithm="StartAlgorithm" @bind-ActiveNodes="ActiveNodes" DefaultOptions="DefaultOptions"
                      @bind-ActiveEdges="ActiveEdges" Nodes="Nodes" Edges="Edges" @bind-GraphMode="GraphMode"></Home>
                break;
            case NavChoice.Insert:
                <Insert @bind-GraphMode="GraphMode" @bind-NewEdge="NewEdge" DefaultOptions="DefaultOptions" @bind-Nodes="Nodes" @bind-Edges="Edges" SVGControl="SVGControl"></Insert>
                break;
            case NavChoice.View:
                <View @bind-SVGControl="SVGControl" @bind-ActiveNodes="ActiveNodes" Nodes="Nodes" Browser="Browser"></View>
                break;
            case NavChoice.Design:
                <Design @bind-ActiveNodes="ActiveNodes" @bind-DefaultOptions="DefaultOptions" @bind-DefaultAlgoOptions="DefaultAlgoOptions" @bind-Nodes="Nodes" @bind-ActiveEdges="ActiveEdges" 
                        DeleteActiveNodes="DeleteActiveNodes" DeleteActiveEdges="DeleteActiveEdges"></Design>
                break;
            case NavChoice.About:
                break;
        }
    </ul>
    <ul class="navbar-nav m-0">
        <li class="NavNone p-2" @onclick="(() => Choice = null)"><span class="oi oi-x"></span></li>
    </ul>
</nav>
}
@if (Rep == Representation.Matrix || Rep == Representation.WeightedMatrix)
{
    <AdjMatrix @bind-Rep="Rep" @bind-DefaultOptions="DefaultOptions" @bind-Nodes="Nodes" @bind-Edges="Edges" SVGControl="SVGControl"></AdjMatrix>
}
<Canvas @bind-ActiveNodes="ActiveNodes" @bind-Nodes="Nodes" @bind-ActiveEdges="ActiveEdges" @bind-Edges="Edges" ChangeMenu="UpdateChoice" @bind-NewEdge="NewEdge"
        @bind-DefaultOptions="DefaultOptions" @bind-GraphMode="GraphMode" @bind-SVGControl="SVGControl" @bind-StartAlgorithm="StartAlgorithm" DefaultAlgoOptions="DefaultAlgoOptions"></Canvas>
<Footer GraphMode="GraphMode" @bind-DefaultOptions="DefaultOptions" Nodes="Nodes" Edges="Edges"></Footer>
