@inherits InitialModalBase
<SfDialog Width="300px" IsModal="true">
    <DialogTemplates>
        <Content>
            <div class="col px-2 text-center lead">
                Welcome to GraphIt
            </div>
            <div class="text-center text-justify">
                Choose default options for edges, this can be changed anytime from the Edges tab
            </div>
            <div class="d-inline-flex justify-content-center">
                <p>Unweighted</p>
                <label class="switch">
                    <input type="checkbox" @bind="DefaultOptions.Weighted">
                    <span class="slider round"></span>
                </label>
                <p>Weighted</p>
            </div>
            <div class="d-inline-flex justify-content-center">
                <p>Undirected</p>
                <label class="switch">
                    <input type="checkbox" @bind="DefaultOptions.Directed">
                    <span class="slider round"></span>
                </label>
                <p>Directed</p>
            </div>
            <div class="d-flex justify-content-around">
                <div class="p-2">
                    <SfButton @onclick="OnSkipClick" CssClass="e-outline">Skip</SfButton>
                </div>
                <div class="p-2">
                    <SfButton @onclick="OnDoneClick" CssClass="e-outline">Done</SfButton>
                </div>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
