@inherits InsertBase

<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <div class="d-inline-flex">
        <div class="px-2">
            Node
            <label class="switch">
                <input type="checkbox" value="InsertNode" @onchange="UpdateInsertNode">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="px-2">
            Edge
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</nav>
