@inherits InsertBase

<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <div class="d-inline-flex">
        <div class="px-2">
            <SfCheckBox TChecked="bool" Label="Nodes" @onclick="UpdateInsertNode" Checked="InsertNode">Nodes</SfCheckBox>
        </div>
        <div class="px-2">
            <SfCheckBox TChecked="bool" Label="Nodes" @onclick="UpdateInsertEdge" Checked="InsertEdge">Edges</SfCheckBox>
        </div>
    </div>
</nav>
